<!--The content below is only a placeholder and can be replaced.-->
<div id="mainWindow">
  <canvas id="canvas" width="750px" height="772px">

  </canvas>
  <div id="controls">
    <h3>Controls</h3>
    Room Size:<br>
    <input type="number" id="roomsize" min="0" max="100" value="5"><br>
    Room Amount X:<br>
    <input type="number" id="roomAmountX" min="1" max="100" value="5"><br>
    Room Amount Y:<br>
    <input type="number" id="roomAmountY" min="1" max="100" value="5"><br>
    Room Spread X:<br>
    <input type="number" id="roomSpreadX" min="0" max="100" value="3"><br>
    Room Spread Y:<br>
    <input type="number" id="roomSpreadY" min="0" max="100" value="3"><br>
    Randomize Rooms?
    <input type="checkbox" id="randomize"><br>
    Randomization Level:
    <input type="range" id="randlevel" value="1" min="1" max="4" onchange="rangeOutputId.value = randlevel.value"><br>
    <output name="rangeOutput" id="rangeOutputId">1</output><br>
    <button mat-button type="button" (click)="handleClick($event)">Create & Preview</button>
    <button mat-button type="button" (click)="clearClick($event)">Clear</button><br>
    <button mat-button type="button" (click)="exportClick($event)">Export JSON</button>
    <button mat-button type="button" (click)="importClick($event)">Import JSON</button>
  </div>
</div>
